@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,600&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap');

// Variables
$font-family-one: 'Montserrat', sans-serif;
$font-family-two: 'PT Serif', serif;
$font-family-three: 'Roboto Slab', serif;
$font-family-four: 'Luxurious Script', cursive;
$color-one: #fff;
$color-two: #fed136;
$color-three: #000;
$color-four: #777777;
$color-five: #f7f7f7;
$transition: all 1s;

// Global

body {
    margin: 0;
    text-align: center;
    font-family: $font-family-one;
}

a {
    text-decoration: none;
    color: $color-one;
    font-weight: bold;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-title {
    font-weight: 600;
    font-size: 40px;
    font-family: $font-family-one;
    color: $color-three;
    margin: 0px auto 15px auto;
}

.section-subtitle {
    font-style: italic;
    font-family: $font-family-two;
    color: $color-four;
    font-size: 16px;
    margin: 0 auto;
}

// Navigation

nav {
    padding: 50px 0 0 0;
}

.navbar-brand a {
    font-family: $font-family-four;
    color: $color-two;
    font-size: 35px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 0 15px;
    font-size: 14px;
}

.center {
    align-content: center;
    align-items: center;
}

li a:hover {
    color: $color-two;
}

// Header

header {
    position: relative;
}

.header-img {
    background-image: url("https://i.postimg.cc/tgFQT0Tk/background.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
}

.header-img::before { 
    opacity: 0.4;
    background: $color-three;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

h1 {
    font-family: $font-family-one;
    color: $color-one;
    font-size: 75px;
    font-weight: 600;
    margin: 0 0 50px 0;
}

h2 {
    color: $color-one;
    font-family: $font-family-two;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    margin: 0 0 50px 0;
}

.splash {
    align-items: center;
    margin: 160px 0;
}

.btn {
    display: block;
    margin: 0 auto;
    line-height: 65px;
    height: 65px;
    width: 200px;
    background-color: $color-two;
    border: 1px solid $color-two;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    background-position: 100% 0; 
    background-size: 300%;
    transition: $transition;
    
}

.btn:hover {
    background-position: 0 100%;
}

.btn-one {
    border-color: $color-two;
    color: $color-one;
    background-image: linear-gradient(90deg, $color-one 50%, transparent 50%);
}

.btn-one:hover { 
    color: $color-three;
    border-color: $color-one;  
}

// Services

.roboto {
    font-family: $font-family-three;
    color: $color-four;
    font-size: 14px;
}

h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.box {
    margin: 75px 25px 0;
}

.icon {
    height: 75px;
    width: 75px;
    border: 3px solid $color-two;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
}

.icon i {
    font-size: 40px;
    color: $color-two;
}

// Portfolio

.portfolio {
    background-color: $color-five;
}