@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif:ital@1&family=Roboto+Slab&display=swap');

// Variables
$font-family-one: 'Montserrat', sans-serif;
$font-family-two: 'PT Serif', serif;
$font-family-three: 'Roboto Slab', serif;